/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
    color: #333;
}

/* Center the main content */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Login form styling */
form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    margin-top: 0;
    color: #333;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    width: 25%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 1rem;
    color: #ff3333;
    font-size: 0.9rem;
}

nav {
    background-color: #007bff;
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: bold;
}

nav button {
    background-color: #ff3333;
    border: 1px solid #ff3333;;
    padding: 0.4rem 0.4rem;
    color: white;
    font-size: 0.9rem;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
}

nav button:hover {
    background-color: #cc0000;
}

.page-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.page-container h2 {
    color: #007bff;
}

.page-container p {
    line-height: 1.6;
    color: #666;
}

.chart-container {
    margin-top: 2rem;
    text-align: center;
}
